= form_for feedback, :url => (feedback.id.present? ? feedback_path(feedback) : feedback_index_path) do |f|
  - if feedback.errors.any?
    #error_explanation
      %h2= t 'global.forms.messages.errors', count:feedback.errors.count
      %ul
        - feedback.errors.full_messages.each do |message|
          %li= message
          
  - all_locales.each do |locale|
    .field
      - name = "name_#{Mobility.normalize_locale(locale)}"
      = f.label name, class: 'label label-default' 
      = f.text_field name, class: 'form-control'
    .field
      - email = "email_#{Mobility.normalize_locale(locale)}"
      = f.label email, class: 'label label-default' 
      = f.text_field email, class: 'form-control'
    .field
      - role = "role_#{Mobility.normalize_locale(locale)}"
      = f.label role, class: 'label label-default' 
      = f.text_field role, class: 'form-control'
    .field
      - feedback = "feedback_#{Mobility.normalize_locale(locale)}"
      = f.label feedback, class: 'label label-default' 
      = f.text_area feedback, class: 'form-control'
    %hr/
  .actions
    = f.submit t 'global.forms.submit'
